name: Continuous Integration

on: [push]

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Fetch all history for all tags and branches
      run: git fetch --prune --unshallow

    - uses: actions/setup-java@v5
      with:
        cache: maven
        distribution: temurin
        java-version: '21'

    - run: mvn --batch-mode verify
